*{
  margin:0px;
  padding:0px;
 }
 .Footer a{
  color:#121212;
  font-size: 20px;
 }
 body{
     background-color: #121212;
 }
 .image-fluid{
     max-width: 70%;
     height: 70%;
 }
 .Explore{
     border-radius: 10px;
     background-color: #262626;
 }
 .text-Ride{
     font-size:18px;
     font-family: Poppins;
     color:#FFDD00;
 }
 .text-Explore{
     font-size: 18px;
     font-family: Poppins;
     color:#f2f2f2
 }
 /* .navbar-brand{
  color:#121212;
 } */
 .text-create{
  font-family: Poppins;
  font-size: 15px;
  color:#121212
 } 
 .Footer{
     background-color: #FAE55C;
     border-radius: 10px;
 }

.bg-image{
 height: 1000px;
 background-image: url("assets/Rectangle.svg");
 font-family: Poppins;
 color: #f2f2f2;
 text-decoration: none solid rgb(242, 242, 242);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
}
.Ride-count{
font-family: Poppins;
font-size: 100px;
height: 120px;
color: #ffdd00;
text-decoration: none solid rgba(255, 221, 0, 0.5);
background-color: #262626;
opacity:0.5;
}
.nav-link{
  font-family: Poppins;
  font-size: 20px;
  color: #121212;
  text-decoration: none solid rgb(18, 18, 18);
  }
  .plan-Ride{
    font-size: 30px;
    font-family: Poppins;
    color:#FFDD00;
  }
/* here we can use size based on media query*/
/* html,
body,
header,
.view {
  height: 100%;
  color: #f2f2f2;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
    color: #f2f2f2;
  }
} */


