*{
 margin:0px;
 padding:0px;
}
.Footer a{
 color:#121212;
 font-size: 20px;
}
body{
    background-color: #121212;
}
.image-fluid{
    max-width: 70%;
    height: 70%;
}
.Explore{
    border-radius: 10px;
    background-color:#FAE55C ;
}
.image-button{
    max-width:100px;
}
.text-Ride{
    font-size:18px;
    font-family: Poppins;
    color:#FFDD00;
}
.text-Explore{
    font-size: 18px;
    font-family: Poppins;
}
.Create-Ride{
    border-radius:10px;
    background-color: #121212;
}
.text-create{
    font-family: Poppins;
    font-size: 15px;
    color:#121212
}
.Footer{
    background-color: #FAE55C;
    border-radius: 10px;
}
.nav-link{
font-family: Poppins;
font-size: 20px;
color: #121212;
text-decoration: none solid rgb(18, 18, 18);
}
/* .navbar-brand{
    color:#121212;
} */